<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | エラー</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Sawarabi+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body data-api-url="{{ .apiUrl }}">
    <div id="error">
        <h1>エラー</h1>
        <a href="/slack">こちらを押してやり直してください</a>
    </div>
</body>

</html>