<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | ログイン</title>
</head>

<body>
    <style>
        #form {
            position: relative;
            top: 200px;
            text-align: center;
        }

        a {
            position: relative;
            top: 300;
            text-align: center;
        }
    </style>
    <div id="form">
        <p id="errorMsg" style="color: red;"></p>
        <form id="loginForm">
            <label for="emailorid">メールアドレス又はID</label>
            <br>
            <input type="text" id="emailorid" name="emailorid" required>
            <br>
            <label for="password">パスワード</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">送信</button>
        </form>
        <a href="/slack">新規登録はこちら</a>
    </div>
    <script>
        document.getElementById("loginForm").addEventListener("submit", async (e) => {
            e.preventDefault();

            const form = e.target;
            const data = {
                emailorid: form.emailorid.value,
                password: form.password.value
            }

            const res = await fetch("/api/auth/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            })

            if (res.ok) {
                window.location.href = "/"
            }

            const result = await res.json()

            if (result.error == "Invalid request") {
                window.location.href = "/error"
            } else {
                document.getElementById("errorMsg").textContent = result.error;
            }

        })
    </script>
</body>

</html>
