<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | ログイン</title>
</head>

<body data-api-url="{{ .apiUrl }}">
    <style>
        #form {
            position: relative;
            top: 200px;
            text-align: center;
        }

        a {
            position: relative;
            top: 300;
            text-align: center;
        }
    </style>
    <div id="form">
        <p id="errorMsg" style="color: red;"></p>
        <form id="loginForm">
            <label for="emailorid">メールアドレス又はID</label>
            <br>
            <input type="text" id="emailorid" name="emailorid" required>
            <br>
            <label for="password">パスワード</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">送信</button>
        </form>
        <a href="/slack">新規登録はこちら</a>
    </div>
    <script type="module" src="/static/js/login.00008.js"></script>

</body>

</html>