<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | carotting</title>
</head>

<body data-api-url="{{ .apiUrl }}">
    <style>
        label {
            text-align: left;
        }

        #form {
            position: relative;
            top: 200px;
            text-align: center;
        }
    </style>
    <div id="form">
        <p id="errorMsg" style="color: red;"></p>
        <form id="carrotForm">
            <label for="content">キャロット</label>
            <br>
            <input type="text" id="content" name="content" required>
            <br>
            <button type="submit">送信</button>
        </form>
        <script type="module" src="/static/js/postcarrot.00001.js"></script>
</body>

</html>