<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | 送信完了!!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Sawarabi+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body data-api-url="{{ .apiUrl }}">
    <div id="string">
        <h1>送信完了!!</h1>
    </div>
</body>

</html>