<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | タイムライン</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Rampart+One&family=Sawarabi+Gothic&display=swap"
        rel="stylesheet">
</head>

<body data-api-url="{{ .apiUrl }}">
    <style>
        .dotgothic16-regular {
            font-family: "DotGothic16", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .rampart-one-regular {
            font-family: "Rampart One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
    <div id="post" class="dotgothic16-regular"><a href="/postcarrot">carrotはこちら</a></div>
    <div id="timeline" class="rampart-one-regular"></div>
    <div id="loader" class="dotgothic16-regular">loading...</div>
    <script type="module" src="/static/js/timeline.00005.js"></script>
</body>

</html>