<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Nijitter | 確認とアカウント作成</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body data-api-url="{{ .apiUrl }}">
    <style>
        label {
            text-align: left;
        }

        #form {
            position: relative;
            top: 200px;
            text-align: center;
        }
    </style>
    <div id="form">
        <p id="errorMsg" style="color: red;"></p>
        <form id="signupForm">
            <label for="password">パスワード</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="user_id">ユーザーID</label>
            <br>
            <input type="text" id="user_id" name="user_id" required>
            <br>
            <label for="username">ユーザーネーム</label>
            <br>
            <input type="text" id="username" name="username" required>
            <br>
            <button type="submit">送信</button>
        </form>
        <script type="module" src="/static/js/verify.js"></script>
</body>

</html>